<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Entity Registry System</display-name>
<!--
  <context-param>
    <param-name>config-file</param-name>
    <param-value>/etc/cumulus.yaml</param-value>
  </context-param>
-->
	<!-- this value is used whenever neither Embedded nor Openshift is chosen -->
	<!-- add here a list with all cassandra hosts for a better load balance (RoundRobin or LeastBalancing*now) -->
	<!-- bulkloading: 1thread per host is created, be aware that this requires more memory on client-side -->
  	<context-param> 
 		<param-name>cassandra-hosts</param-name>
  		<param-value>134.21.73.204:9160,134.21.73.205:9160,134.21.73.206:9160,134.21.73.207:9160,134.21.73.208:9160</param-value>  
	</context-param>

    <!-- used only if zookeeper transactional locking is used -->
    <!-- see: ers-transactional-locking-zookeeper parameter -->
  	<context-param> 
 		<param-name>zookeeper-hosts</param-name>
  		<param-value>134.21.73.204:2181,134.21.73.206:2181,134.21.73.208:2182</param-value>  
	</context-param>

	<!-- NOTE: just one of the two following parameters can be set true !! not both in the same time -->
	<context-param>	
		<param-name>start-embedded</param-name> 
		<param-value>yes</param-value>  <!-- possible values: yes,no; if 'yes', the replication is set to 1 -->
	</context-param>
	<context-param>	
		<param-name>run-on-openshift</param-name> 
		<param-value>no</param-value>  <!-- possible values: yes,no; if 'yes', the replication is set to 1 -->
	</context-param>
	<!-- -->

	<!-- this is used of start-embedded is set to 'yes' -->
	<context-param>	
		<param-name>cassandra-embedded-host</param-name>
-		<param-value>127.0.0.1:9171</param-value> 
 	</context-param> 

   <!-- DO NOT CHANGE IT unless you know what you do :) -->
  	<context-param>
 		<param-name>storage-layout</param-name> 
  		<param-value>flat</param-value>
 	</context-param>

  	<context-param>
 		<param-name>proxy-mode</param-name>
  		<param-value>false</param-value>
 	</context-param>

	<!-- IF embedded or Openshift version is selected, this would be inforced to be 1; -->
	<context-param>	
		<param-name>default-replication-factor</param-name>
		<param-value>1</param-value>
	</context-param>

	<!-- to easily recognize the ERS' keyspaces, all of them are prepended by this prefix -->
 	<context-param>
 		<param-name>ers-keyspaces-prefix</param-name>
  		<param-value>ERS_</param-value>
 	</context-param>

   <!-- 1 = e; 2 = e+p; 3 = e+p+v; => 1 is course-grain and 3 is fine-grain locking -->
   <!-- default value = 3 -->
   <context-param>
      <param-name>ers-transactional-locking-granularity</param-name>
      <param-value>3</param-value>
   </context-param>

   <!-- set this to 1 if you want to use Zookeeper locks -->
   <!-- if not set, default value is 0 -->
   <context-param> 
      <param-name>ers-transactional-locking-zookeeper</param-name>
      <param-value>0</param-value>
   </context-param>

   <!-- if set to yes, any operation will also handle links  -->
   <!-- default value: yes -->
   <context-param>
      <param-name>ers-create-links</param-name>
      <param-value>yes</param-value>
   </context-param>

  <listener>
    <listener-class>edu.kit.aifb.cumulus.webapp.Listener</listener-class>
    <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
  </listener>

  <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>edu.kit.aifb.cumulus.webapp.DispatcherServlet</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>info</servlet-name>
  	<servlet-class>edu.kit.aifb.cumulus.webapp.InfoServlet</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>error</servlet-name>
  	<servlet-class>edu.kit.aifb.cumulus.webapp.ErrorServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>response</servlet-name>
  	<servlet-class>edu.kit.aifb.cumulus.webapp.ResponseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>setup</servlet-name>
  	<servlet-class>edu.kit.aifb.cumulus.webapp.ChangeServerParams</servlet-class>
  </servlet>
  


  <!--TM: C R U D operations --> 
  <servlet>
  	<servlet-name>create</servlet-name>
  	<servlet-class>edu.kit.aifb.cumulus.webapp.CreateServlet</servlet-class>
  </servlet>
  <servlet> 
	<servlet-name>graph</servlet-name>
	<servlet-class>edu.kit.aifb.cumulus.webapp.GraphServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>read</servlet-name>
  	<servlet-class>edu.kit.aifb.cumulus.webapp.ReadServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>update</servlet-name>
  	<servlet-class>edu.kit.aifb.cumulus.webapp.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>delete</servlet-name>
  	<servlet-class>edu.kit.aifb.cumulus.webapp.CleverDeleteServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>bulkload</servlet-name>
	<servlet-class>edu.kit.aifb.cumulus.webapp.BulkLoadServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>bulkrun</servlet-name>
	<servlet-class>edu.kit.aifb.cumulus.webapp.BulkRunServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>transaction</servlet-name>
	<servlet-class>edu.kit.aifb.cumulus.webapp.TransactionServlet</servlet-class>
  </servlet>

  <servlet>
	<servlet-name>query_graph</servlet-name>
	<servlet-class>edu.kit.aifb.cumulus.webapp.QueryGraphServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>query_all_graphs</servlet-name>
	<servlet-class>edu.kit.aifb.cumulus.webapp.QueryAllGraphsServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>exist_graph</servlet-name>
	<servlet-class>edu.kit.aifb.cumulus.webapp.ExistGraphServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>exist_entity</servlet-name>
	<servlet-class>edu.kit.aifb.cumulus.webapp.ExistEntityServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>last_sync_seq</servlet-name>
	<servlet-class>edu.kit.aifb.cumulus.webapp.LastSyncSeqServlet</servlet-class>
  </servlet>


  <servlet>
  	<servlet-name>query</servlet-name>
  	<servlet-class>edu.kit.aifb.cumulus.webapp.QueryServlet</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>sparql</servlet-name>
  	<servlet-class>edu.kit.aifb.cumulus.webapp.SPARQLServlet</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>proxy</servlet-name>
  	<servlet-class>edu.kit.aifb.cumulus.webapp.ProxyServlet</servlet-class>
  </servlet>

<!--
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
-->

   <servlet-mapping>
    <servlet-name>setup</servlet-name>
    <url-pattern>/setup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>graph</servlet-name>
    <url-pattern>/graph</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>create</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>read</servlet-name>
    <url-pattern>/read</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>query</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>query_graph</servlet-name>
    <url-pattern>/query_graph</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>query_all_graphs</servlet-name>
    <url-pattern>/query_all_graphs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>exist_graph</servlet-name>
    <url-pattern>/exist_graph</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>exist_entity</servlet-name>
    <url-pattern>/exist_entity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bulkload</servlet-name>
    <url-pattern>/bulkload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bulkrun</servlet-name>
    <url-pattern>/bulkrun</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>transaction</servlet-name>
    <url-pattern>/transaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>last_sync_seq</servlet-name>
    <url-pattern>/last_sync_seq</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>400</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>402</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>406</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error</location>
  </error-page>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
